!!!5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{title}
  .mainDiv
    .deviceContainer
      block connectedDevices
  .dzContainer
    block dz
  .downloadIPA
    block ipa
  block countdz  
  footer
    block footer
