/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Store the main color and
 * background color as variables
 */
h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 3px 7px 2px 7px;
}
h2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 3px 7px 2px 7px;
}
ul {
  border: 0;
  margin: 0;
  padding: 0;
}
#pagination-flickr li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 11px;
  list-style: none;
}
#pagination-flickr a {
  border: solid 1px #ddd;
  margin-right: 2px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {
  color: #666;
  display: block;
  float: left;
  font-weight: bold;
  padding: 3px 4px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
  font-weight: bold;
  border: solid 1px #fff;
}
#pagination-flickr .active {
  color: #ff0084;
  font-weight: bold;
  display: block;
  float: left;
  padding: 4px 6px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
  color: #0063e3;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}
#pagination-flickr a:hover {
  border: solid 1px #666;
}
table {
  border: 0px solid #000;
  width: 200px;
}
textarea {
  border: 1px solid #999;
  width: 95%;
  margin: 5px 0;
  padding: 3px;
}
#tableNewComment {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}
#tableNewComment td,
th {
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}
#tableNewComment td.alt {
  word-break: break-all;
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}
#tableNewComment th {
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #a7c942;
  color: #fff;
}
#tableLogin {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}
#tableLogin td,
th {
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}
#tableLogin td.alt {
  word-break: break-all;
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}
#tableLogin th {
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #a7c942;
  color: #fff;
}
#tableComments {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}
#tableComments td,
th {
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}
#tableComments td.alt {
  word-break: break-all;
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}
#tableComments th {
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #a7c942;
  color: #fff;
}
body {
  font-family: 'Georgia';
  background-color: #f2f2f2;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 5px 5px;
  color: #fff;
  font-size: 10px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #a7c942;
  border-bottom: 1px solid #77912a;
  text-shadow: 0px -1px 0px #77912a;
}
.created_at {
  font-size: 12px;
}
.contentTitle {
  margin: -10px 10px 10px 10px;
  color: #a7c942;
}
.container {
  width: 350px;
  margin: 0px auto;
  background-color: #fafafa;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.container2 {
  width: 800px;
  margin: 0px auto;
  background-color: #fafafa;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.contentBody {
  float: left;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 780px;
  margin: -10px 10px 10px 10px;
}
.comments {
  float: left;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 325px;
  margin: 10px 10px;
}
.newcomment {
  float: right;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 430px;
  margin: 10px 0px;
  margin-right: 20px;
}
.post {
  width: 800px;
  background-color: #fff;
  border-radius: 3px;
  border: 0px solid #ccc;
}
.body {
  float: left;
  font-size: 15px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 3px 7px 2px 20px;
  width: 750px;
  background-color: #fff;
  border-radius: 3px;
  border: 0px solid #ccc;
  margin: 10px 0px;
  margin-right: 20px;
}
.postedAt {
  float: right;
  font-size: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 3px 15px 2px 20px;
  width: 80px;
  border-radius: 3px;
  border: 0px solid #ccc;
}
.title {
  float: left;
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 3px 7px 2px 7px;
  width: 650px;
  border-radius: 3px;
  border: 0px solid #ccc;
}
.files {
  float: right;
  width: 430px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 10px 0px;
  margin-right: 20px;
}
.pages {
  text-align: center;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
#slides div.slide {
  background: #fff;
  float: left;
  height: 130px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 330px;
}
#slides div img {
  left: 1;
  position: absolute;
  top: 1;
  transition: transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
#slides div:hover img {
  transform: translateY(-225px);
  -moz-transform: translateY(-225px);
  -o-transform: translateY(-225px);
  -webkit-transform: translateY(-225px);
}
